.adminNav{
    height: 6.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg_color);

}
.adminNav *{
    box-sizing: border-box;
}
.adminNavLogo{
    color: white;
    margin-left: 1em;
}
.adminNav > img{
    display: none;
}
.adminNavButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1em 1em 0;
    gap: .8rem;
}
.adminNavButtons button{
    width: 45px;
    height: 45px;
    border-radius: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    color: white;
    fill: white;
    border: 1px solid rgba(255, 255, 255, 0.2);

}
.adminNavButtons button svg{
    width: 22px;
    height: 22px;
}

button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
    .adminNavLogo{
        display: none;
    }
    .adminNav > img{
        display: block;
        margin-left: 1em;
    }
}
